body{
    background: #efefef;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #1ed760;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255);
    border: none;
}
.text-white:hover{
    color: #1ed760;
}
h1{
    font-size: 40px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
h2{
    font-size: 24px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    margin: 30px 0px;

}

h5{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    padding: 0px;
    line-height: 1.3em;
}
p{
    margin: 0px auto;
    line-height: 1.5;
    font-size: 16px;
    padding: 0px;
    color: black;
}
.itens_direito{
    padding: 0px 0px 0px 30%;
}

.logo1{
    width: 190px;
}

.premium{
    margin-left: 400px;
}

.c-branco{
    background: #FFFFFF;
}

.alinhameto_divs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_premium{
    background: #efefef;
    padding: 14%;
    margin-top: -14%;
}

.espaço1{
    margin-top: 49%; 
}
.espaço3{
    margin-top: 12%;
}

.espaço2{
margin-top: 62%;
}
.espaço4{
    margin-top: 50%;
}


.cards_imgs{
    width: 150px;
}
.cards_flutuantes{
    width: 330px;
    height: 772px; 
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
}
.card{
    border-radius: 16px;
}

.background_azul{
    background-color: #1d75de;
    padding: 0px 0px 0px 9%;
}


.buttons button {
    border-radius: 32px ; 
    margin: 35px 0px 0px;
    padding-block: 14px;
}

.cards_pq{
    margin-left: -8%;
}

.elo{
    width: 30px;
}
.hipercard{
    width: 30px;
}

.outros{
    text-decoration: underline;
}
.buttons .buttom_preto{
    width: 10%;
    height: 14%;
    font-weight: bold;
    justify-content: center;
    border: 2px solid rgb(25, 20, 20);
    text-decoration: none !important;
    background: black;
    
}
.buttons .buttom_transparente{
    width: 11%;
    height: 14%;
    font-weight: bold;
    -webkit-box-pack: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none !important;
    color: #FFFFFF;
}
.alteracoes{
    font-size: 12px;
    margin-top: 40px;
    width: 100%;
}
.alteracoes a{
    text-decoration: underline;
}
.ser_premium{
    font-size: 40px;
    color: black;
    margin-bottom: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.escolha_premium{
    background-color: #efefef;
}

.pagamento{
    font-size: 15px;
    
}

.c-preto{
    background: #000000;
    padding: 0px 0px 0px 8%;
}

.logo2 img{
    width: 190px;
}

.lado_preto{
    margin-left: 50px;
}

.social img{
    width: 38px;
    border-radius: 10px;
}

.começar{
    font-weight: bold;
    border-radius: 32px;
    height: 7%;
    background: black;
    color: white;
    width: 100%;
}

.certo1 img{
padding-bottom: 30px;
width: 24px;
}
.certo2 img{
    padding-bottom: 35px;
    width: 24px;
    }
.certo3 img{
    padding-bottom: 40px;
    width: 24px;
}

.certo4 img{
     padding-bottom: 20px;
    width: 24px;
}

.termos{
    text-decoration: underline;
    color: #535353;
}
.sujeito{
    margin-top: 10px;
    font-size: 12px;
    
}

.footer-preto{
    background: #000;
}
.footer_itens{
    display: flex;
}

.cinza{
    font-weight: bold;
    color: #919294;
}

.cor{
    font-weight: bold;
    margin-top: 11px;
}

@media (max-width:576px){

    .cards_flutuantes{
     width: 100%; 
     height: 100%;  
    }
    .buttons .buttom_preto{
        width: 100%;
        height: 8%;
        font-weight: bold;
        justify-content: center;
        border: 2px solid rgb(25, 20, 20);
        text-decoration: none !important;
        background: black;
        
    }
    .buttons .buttom_transparente{
        width: 100%;
        height: 8%;
        margin-top: 10px ;
        font-weight: bold;
        -webkit-box-pack: center;
        justify-content: center;
        border: 2px solid rgb(255, 255, 255);
        text-decoration: none !important;
        color: #FFFFFF;
    }
    .sujeito{
        margin-top: 10px;
        font-size: 12px;
        
        
    }
    .footer_itens{
        display: block;
    }
    .social{
        display: flex;
        margin-bottom: 20px;
    }
    .social img{
        width: 30px;
    }
    .logo2 img{
        display: flex;
    }
    .cards_premium {
        background: #efefef;
        padding: 0%;
        margin-top: 0%;
        margin-bottom: 10%;
    }
    .espaço1 {
        margin-top: 5%;
    }
    .espaço2{
        margin-top: 5%;
    }
    .espaço4 {
        margin-top: 5%;
    }
    .c-preto{
        background: #000000;
        padding: 0px 0px 0px 0%;
    }
    .itens_direito{
        padding: 0px 0px 0px 0%;
    }
    
.background_azul{
    background-color: #1d75de;
    padding: 3% 3% 3% 3%;
}
    



}
    
