    body{
        padding: 0;
        margin: 0;
    }
    .alinhameti_divs{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-spotify{
        height: 770px;
        width: 269px;
        background: #FFFFFF;
        border-radius: 16px;
        margin: 0px 16px 0px 0px;
        padding: 16px 16px 0px;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin: 0px 0px 2px;
    }
    
    h3{
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 24px;
    }
    
    .navbar{
        background: #000000;
        height: 80px;
    }
  
    a > img{
        width: 190px;
        cursor: pointer;
        margin-left: 10px;
        
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .nav-premium{
      margin-left: 26vw; 
    }

    a:hover{
        color: #22d661;
        text-decoration: none;
    }

    .navlist > li {
        margin-left: 10px;
    }

   .linha{
    border-right: 1px solid #fff;
    margin-top: 12px;
    margin-right: 16px;
    cursor: auto;
   }

   .Inscrever{
   
    margin-right:7px;
   }

   .c-azul{
    background-color: #1d76de;
    height: 369px;
   }

   .aproveite{
    padding-top: 71px;
    padding-bottom: 25px;
   }

   .depois{
    font-size: 23px;
    padding-bottom: 20px;
   }

   .botões{
    padding-bottom: 36px;
   }

    .começar{
        font-weight: bold;
        background-color: #181413;
        padding: 13px;
        padding-left: 33px;
        padding-right: 33px;
        border-radius: 35PX;
        margin-right: 4px;
    }

    .planos{
        background: #1d76de;
        font-weight: bold;
        padding: 13px;
        padding-left: 33px;
        padding-right: 33px;
        border-radius: 35px;
    }

    .gratis{
        font-size: 10px;
    }
    
   .termos{
    border-bottom: 1px solid rgba(255, 255, 255, 0.692);
    cursor: pointer;
   }

   .c-branco {
    background-color: #fff;
    height: 575px;
   }

   .pqpremium{
    padding-bottom: 35px;
    padding-top: 72px;
    font-weight: bold;
   }

   .crdbranco{
    margin-top: 30px;
    width: 20rem;
    border: none;
   }

   .ouça{
    width: 268px;
   }

   .imagem{
    margin-left:72px;
    padding-bottom: 2rem;
    width: 9rem;
   }

   .c-cinza{
    background-color: #efefef;
    height: 68rem;
   }

   .plano{
    padding-top: 21px;
   }

   .crd-cinza{
    margin-top: -18px;
    margin-right:10px;
    width: 271px;
    height: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 9px 24px 3px rgba(100,97,97,0.69); 
    box-shadow: 5px 5px 10px 5px rgba(97, 98, 100, 0.137); 
   }

   .btn-plano { 
    margin-top: 30px;
   }

   .um-mês{
    font-size: 13px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background: #0c72e9;
   }
   
   .pagamento{
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: -6px;
    font-size: 14px;
   }

   .linha-horizontal{
    border-bottom: 1px solid #787878;
   }
   .descer1{
    margin-bottom: 176px;
   }

   .descer2{
    margin-bottom: 192px;
   }
   .descer4{
    margin-bottom: 95px;
   }

   .btn-plano{
    margin-top: 5px;
    font-weight: bold;
    background-color: #000000;
    padding: 11px;
    width: 100%;
    border-radius: 35px;
   }

   .sujeito{
    font-size: 12px;
   }

   .termo{
    border-bottom: 1px solid #787878;
   }

   .footer{
    background-color: #000000;
    height: 530px;
   }

   .lado{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
   }

   .lado > div{
    font-weight: bold;
    margin-right: 72px;
   }

   .logodois{
    margin-top: -40px;
    margin-left: -20px;
   }

   .list > h6{
    font-size: 13px;
    font-weight: bold;
    color: #929394;
   }

   .carro > li{
    margin-top: 18px;
   }

   .social{
    margin-left: 60px;
   }
    
   .icones{
    height: 30px;
   }

   .icones > img{
    width: 30px;
    background: #fff;
    margin-right: 20px;
}

    .icones > img:hover{
        background: #22d661;
    }

   .pequeno > li{
    font-size: 13px;
    color: #939394;
    margin-left: 25px;
    margin-top: 59px;
   }

   .pequeno > li:hover{
    color: #22d661;
    cursor: pointer;
   }

   .Brasil{
    color: #929493;
    margin-top: 32px;
   }

   .Brasil > h6{
    font-size: 13px;
    cursor: pointer;
   }

   .Brasil > h6:hover{
    color: #22d661;
   }
