<html lang="pt-br"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS BOOTSTRAP -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- CSS PROJETO -->

    <link rel="icon" href="../Assets/img/Spotify-navegador.png">
    <link rel="stylesheet" href="../Assets/CSS/Homepage/Homepage.css">


    <!-- TITULO PROJETO -->
    <title>Spotify Premium - Spotify</title>
</head>

<body>
    <nav class="c-preto navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img class="logo1 mr-5" src="../Assets/img/Logo-Spotify.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-5">
                <li class="nav-item">
                    <a class="premium nav-link" href="#">Premium<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Suporte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Baixar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link linha"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Inscreva-se</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Entrar</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col background_azul text-white">
                <h1 class="lado_azul mt-5">Aproveite 1 mês grátis de premium</h1>
                <h2 class="lado_azul text-white">depois, pague somente R$19,90/mês. Cancele quando quiser</h2>
                <div class="lado_azul buttons">
                    <button type="button" class="btn btn-dark buttom_preto">Começar</button>
                    <button type="button" class="btn btn-transparent buttom_transparente">Ver planos</button>
                </div>
                <div class="lado_azul col-6 alteracoes">
                    <p class="text-white mb-5 sujeito">
                        <a class="text-white mb-5" href="#">Sujeito a termos e condições.</a> o mês grátis não está disponivel para usuários que já experimentaram o premium</p>
                </div>
            </div>
        </div>
    </div>

    <div class="c-branco container-fluid mb-5">
        <div class="row">
            <div class="col-12 mb-5">
                <h2 class="text-center ser_premium mb-5 mt-5">Por que ser premium?</h2>
                <div class="row alinhameto_divs mb-5">

                    <div class="  col-sm-3 text-center">
                        <img class="cards_imgs" src="https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f">
                        <div class="card-body">
                            <h5 class="card-title">Modo offline.</h5>
                            <p class="card-text">Ouça música onde estiver.</p>
                        </div>
                    </div>

                    <div class="cards_pq col-sm-3 text-center">
                        <img class="cards_imgs" src="https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137">
                        <div class="card-body">
                            <h5 class="card-title">Ouça músicas sem anúncios</h5>
                            <p class="card-text">Curta música, sem parar.</p>
                        </div>
                    </div>

                    <div class="cards_pq col-sm-3 text-center">
                        <img class="cards_imgs" src="https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67">
                        <div class="card-body">
                            <h5 class="card-title">Ouça o que quiser.</h5>
                            <p class="card-text">Mesmo no celular ou tablet.</p>
                        </div>
                    </div>

                    <div class="cards_pq col-sm-3 text-center">
                        <img class="cards_imgs" src="https://i.scdn.co/image/ab671c3d0000f430cd6c528745e510c5be63a012">
                        <div class="card-body">
                            <h5 class="card-title">Troque de música o quanto quiser.</h5>
                            <p class="card-text">Pule quando quiser.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col escolha_premium">
                <h2 class="text-center ser_premium mb-0">
                    Escolha seu plano premium
                </h2>
                <p class="text-center">Ouça sem limites no seu celular, alto-falante e em outros dispositivos</p>
                <ul class="text-center mb-5">
                    <img src="../Assets/img/visa.svg">
                    <img src="../Assets/img/mastercard.svg">
                    <img src="../Assets/img/amex.svg">
                    <img class="elo" src="../Assets/img/elo.svg">
                    <img class="hipercard" src="../Assets/img/Hipercard.svg">
                    <span class="outros">+ outros 11</span>
                </ul>
            </div>
        </div>
    </div>

        <div class="container-fluid">
            <div class="row cards_premium">
                <div class="col-sm-3">
                    <div class="card cards_flutuantes ">
                        <div class="card-body text-left">
                            <div>
                                <span class="btn btn-primary">1 mês grátis ao assinar</span>
                                <span class="pagamento btn text-primary font-weight-bold border-primary mt-2 mb-2">Pagamento único disponível</span>
                            </div>
                            <h3 class="card-title">Individual</h3>
                            <p class="card-text">R$ 19,90/mês após o período da ofertaf 1 conta</p>
                            <hr>
                            <div class="certo1">
                                
                                <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                    Ouça músicas sem anúncios</p></li>
                                    <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                        Ouça em qualquer lugar — até no modo offline</p></li>
                                        <li class="d-flex"><img src="../Assets/img/certo.svg" ><p>
                                            Escolha a música que quer ouvir</p></li>
                                            <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                                Faça um plano pré-pago ou uma assinatura</p></li>
                            
                        </div>
                        <div class="espaço1  text-center">
                            <button class="começar" type="button" class="btn">COMEÇAR</button>
                            <p class="sujeito text-left">
                                <a class="termos" href="#">Sujeito a Termos e Condições. </a>. O mês grátis não está disponível para usuários
                                que já experimentaram o Premium.
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card cards_flutuantes">
                        <div class="card-body">
                            <div class="">
                                <span class="btn btn-primary">1 mês grátis ao assinar</span>
                                <span class="pagamento btn text-primary font-weight-bold border-primary mt-2 mb-2">Pagamento único disponível</span>
                            </div>
                            <h3 class="card-title">Duo</h3>
                            <p class="card-text">R$ 24,90/mês após o período da oferta 2 contas</p>
                            <hr>
                            <div class="certo2">
                                
                                <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                    2 contas Premium para um casal que mora junto</p></li>
                                    <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                        Ouça sem anúncios, no modo offline e sob demanda</p></li>
                                        <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                            Faça um plano pré-pago ou uma assinatura</p></li>
                
                        </div>
                            
                            <div class="espaço2 text-center">
                                <button class="começar"  type="button" class="btn btn-secondary btn-lg">COMEÇAR</button>
                                <p class="sujeito text-left">
                                    <a class="termos" href="#">Sujeito a Termos e Condições. </a>. O mês grátis não está disponível para usuários
                                    que já experimentaram o Premium.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card cards_flutuantes">
                        <div class="card-body">
                            <div class="">
                                <span class="btn btn-primary">1 mês grátis ao assinar</span>
                                <span class="pagamento btn text-primary font-weight-bold border-primary mt-2 mb-2">Pagamento único disponível</span>
                            </div>
                            <h3 class="card-title">Família</h3>
                            <p class="card-text">R$ 34,90/mês após o período da oferta Até 6 contas</p>
                            <hr>
                            <div class="certo3">
                                
                                <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                    6 contas Premium para familiares que moram no mesmo endereço</p></li>
                                    <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                        Bloqueie músicas com conteúdo explícito</p></li>
                                        <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                            Ouça sem anúncios, no modo offline e sob demanda</p></li>
                                            <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                                Spotify Kids: um aplicativo separado, feito especialmente para crianças</p></li>
                                            <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                                Faça um plano pré-pago ou uma assinatura</p></li>
                            
                        </div>
                        <div class="espaço3 text-center">
                            <button class="começar" type="button" class="btn btn-secondary btn-lg">COMEÇAR</button>
                            <p class="sujeito text-left">
                                <a class="termos" href="#">Sujeito a Termos e Condições. </a>. O mês grátis não está disponível para usuários
                                que já experimentaram o Premium.
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"> 
                    <div class="card cards_flutuantes">
                        <div class="card-body">
                            <div class="">
                                <span class="btn btn-primary">1 mês grátis ao assinar</span>
                                <span class="pagamento btn text-white font-weight-bold border-trasparent mt-2 mb-2">Pagamento único disponível</span>
                            </div>
                            <h3 class="card-title">Universitário</h3>
                            <p class="card-text">R$ 9,90/mês após o período da oferta 1 conta</p>
                            <hr>
                            <div class="certo4">
                                
                                <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                    Desconto especial para estudantes universitários que tenham direito à oferta</p></li>
                                    <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                        Ouça músicas sem anúncios</p></li>
                                        <li class="d-flex"><img src="../Assets/img/certo.svg" ><p>
                                            Ouça em qualquer lugar — até no modo offline</p></li>
                                            <li class="d-flex"><img src="../Assets/img/certo.svg"><p>
                                                Escolha a música que quer ouvir</p></li>
                            
                        </div>
                        <div class="espaço4 text-center">
                            <button class="começar" type="button" class="btn btn-secondary btn-lg">COMEÇAR</button>
                            <p class="sujeito text-left">
                                Oferta disponível somente para estudantes de instituições de ensino superior credenciadas. O mês grátis não está disponível para usuários que já experimentaram o Premium.<a class="termos" href="#">Sujeito a Termos e Condições. </a> da oferta do Spotify de desconto para universitários.
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


    <div class="footer-preto container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="text-white mt-5 mb-5 d-flex">
                    <div class="logo2 col-2">
                        <img src="../Assets/img/Logo-Spotify.png">
                    </div>
                
                    <div class="col-2 mt-5">
                        <label>EMPRESA</label>
                        <p class="text-white">Sobre</p>
                        <p class="text-white">Empregos</p>
                        <p class="text-white">For the Record</p>
                    </div>

                    <div class="col-2 mt-5">
                        <div class="">
                            <label>COMUNIDADE</label>
                            <p class="text-white">Para Artistas</p>
                            <p class="text-white">Desenvolvedores</p>
                            <p class="text-white">Publicidade</p>
                            <p class="text-white">Investidores</p>
                            <p class="text-white">Fornecedores</p>
                        </div>
                    </div>
                    <div class="col-2 mt-5">
                        <div class="">
                            <label>LINKS ÚTEIS</label>
                            <p class="text-white">Suporte</p>
                            <p class="text-white">Player da Web</p>
                            <p class="text-white">Aplicativo movél grátis</p>
                        </div>
                    </div>
                
                    <div class=" col-4 social mt-5">
                        <img src="../Assets/img/instagram.svg">
                        <img src="../Assets/img/twitter.svg">
                        <img src="../Assets/img/facebook.svg">
                    </div>
                
            
                <div class="col-12">
                    <div class="khasgdjasd d-flex justify-content-between">
                        <ul class="col-6 d-flex flex-wrap">
                            <p class="text-white">Legal</p>
                            <p class="text-white">Centro de Privacidade</p>
                            <p class="text-white">Cookies</p>
                            <p class="text-white">Sobre aúncios</p>
                        </ul>
                        <div class="Brasil">
                        <div class="col-12">
                           <ul class="">
                            <li class="text-white">Brasil</li>
                            <li class="text-white">© 2022 Spotify AB</li>
                           </ul>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    




<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
</script>


</body></html>