<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS BOOTSTRAP -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- CSS PROJETO -->

    <link rel="icon" href="../Assets/img/Spotify-navegador.png">
    <link rel="stylesheet" href="../Assets/CSS/Homepage/Homepage.css">


    <!-- TITULO PROJETO -->
    <title>Spotify Premium - Spotify</title>
</head>

<body class="">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <a class="navbar-brand" href="#"><img src="../Assets/img/Logo-Spotify.png" width="140px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col background_azul text-white">
                <h1 class="mt-5">Aproveite 1 mês grátis de premium</h1>
                <h2 class="text-white">depois, pague somente R$19,90/mês. Cancele quando quiser</h2>
                <div class="buttons">
                    <button type="button" class="btn btn-dark buttom_preto btn-lg">Começar</button>
                    <button type="button" class="btn btn-transparent buttom_transparente btn-lg">Ver planos</button>
                </div>
                <div class="alteracoes">
                    <p class="text-white mb-5">
                        <a class="text-white mb-5" href="#">Sujeito a termos e condições.</a> o mês grátis não está
                        disponivel
                        para usuários que já experimentaram o premium</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class=" ser_premium text-center mb-5 mt-5">Por que ser premium?</h2>
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <img src="https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f" width="150px">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>

                    </div>
                    <div class="col-sm-3 text-center">
                        <img src="https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137" width="150px">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <img src="https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67" width="150px">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                    <div class="col-sm-3 text-center mb-5">
                        <img src="https://i.scdn.co/image/ab671c3d0000f430cd6c528745e510c5be63a012" width="150px">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col escolha_premium">
                <h2 class="text-center ser_premium mb-0">
                    Escolha seu plano premium
                </h2>
                <p class="text-center">Ouça sem limites no seu celular, alto-falante e em outros dispositivos</p>
                <ul class="text-center mb-5">
                    <img src="../Assets/img/amex.svg">
                    <img src="../Assets/img/amex.svg">
                    <img src="../Assets/img/amex.svg">
                    <img src="../Assets/img/amex.svg">
                    <img src="../Assets/img/amex.svg">
                    <img src="../Assets/img/amex.svg">
                    <span>+ outros 11</span>
                </ul>
            </div>
        </div>
        <div class="row cards_premium mb-5">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body cards_flutuantes text-left">
                        <div class="">
                            <span class="btn btn-primary">1 mês grátis ao assinar</span>
                            <span class="pagamento btn text-primary font-weight-bold border-primary mt-2 mb-2">Pagamento único disponível</span>
                        </div>
                        <h3 class="card-title">Individual</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <hr>
                        <ul>
                            
                            <li class="d-flex"><img src="../Assets/img/certo.svg" width="24px"><p>
                                2 contas Premium para um casal que mora junto</p></li>
                                <li class="d-flex"><img src="../Assets/img/certo.svg" width="24px"><p>
                                    2 contas Premium para um casal que mora junto</p></li>
                                    <li class="d-flex"><img src="../Assets/img/certo.svg" width="24px"><p>
                                        2 contas Premium para um casal que mora junto</p></li>
                                        <li class="d-flex"><img src="../Assets/img/certo.svg" width="24px"><p>
                                            2 contas Premium para um casal que mora junto</p></li>
                        
                    </ul>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                        <p>
                            <a href="#">Sujeito a termos e odjajs</a>. O mês grátis não está disponível para usuários
                            que já experimentaram o Premium.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body  cards_flutuantes">
                        <div class="">
                            <span class="btn btn-primary">1 mês grátis ao assinar</span>
                            <span class="pagamento btn text-primary font-weight-bold border-primary mt-2 mb-2">Pagamento único disponível</span>
                        </div>
                        <h3 class="card-title">Individual</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <hr>
                        <ul>
                            
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                2 contas Premium para um casal que mora junto</p>
                        
                        
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                Ouça sem anúncios, no modo offline e sob</p>
                        
                        
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                Faça um plano pré-pago ou uma assinatura</p>
                        
                        
                            
                        
                    </ul>
                        
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                            <p>
                                <a href="#">Sujeito a termos e odjajs</a>. O mês grátis não está disponível para usuários
                                que já experimentaram o Premium.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body  cards_flutuantes">
                        <div class="">
                            <span class="btn btn-primary">1 mês grátis ao assinar</span>
                            <span class="pagamento btn text-primary font-weight-bold border-primary mt-2 mb-2">Pagamento único disponível</span>
                        </div>
                        <h3 class="card-title">Individual</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <hr>
                        <ul>
                            
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                6 contas Premium para familiares que moram no mesmo endereço</p>
                        
                        
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                Bloqueie músicas com conteúdo explícito</p>
                        
                        
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                Ouça sem anúncios, no modo offline e sob demanda</p>
                        
                        
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                            Spotify Kids: um aplicativo separado, feito especialmente para crianças</p>

                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                Faça um plano pré-pago ou uma assinatura</p>
                        
                    </ul>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                        <p>
                            <a href="#">Sujeito a termos e odjajs</a>. O mês grátis não está disponível para usuários
                            que já experimentaram o Premium.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body  cards_flutuantes">
                        <div class="">
                            <span class="btn btn-primary">1 mês grátis ao assinar</span>
                            <span class="pagamento btn text-white font-weight-bold border-trasparent mt-2 mb-2">Pagamento único disponível</span>
                        </div>
                        <h3 class="card-title">Individual</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <hr>
                        <ul>
                            
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                Desconto especial para estudantes universitários que tenham direito à oferta</p>
                        
                        
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                Ouça músicas sem anúncios</p>
                        
                        
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                Ouça em qualquer lugar — até no modo offline</p>
                        
                        
                            <p><img src="../Assets/img/certo.svg" width="24px"></img>
                                Escolha a música que quer ouvir</p>
                        
                    </ul>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                        <p>
                            <a href="#">Sujeito a termos e odjajs</a>. O mês grátis não está disponível para usuários
                            que já experimentaram o Premium.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="background-color: #000000 ;">
        <div class="row">
            <div class="col-12">
                <div class="text-white mt-5 mb-5 d-flex">
                    <div class="col-2">
                        <img src="../Assets/img/Logo-Spotify.png" width="200px">
                    </div>

                    <div class="col-2">
                        <label>EMPRESA</label>
                        <p class="text-white">aiusdasdgahs</p>
                        <p class="text-white">kasdbasbd</p>
                        <p class="text-white">kajsdka</p>
                        <p class="text-white">ahsgd</p>
                    </div>
                    <div class="col-2">
                        <ul>
                            <label>COMUNIDADE</label>
                            <p class="text-white">aiusdasdgahs</p>
                            <p class="text-white">kasdbasbd</p>
                            <p class="text-white">kajsdka</p>
                            <p class="text-white">ahsgd</p>
                        </ul>
                    </div>
                    <div class="col-2">
                        <ul>
                            <label>LINKS ÚTEIS</label>
                            <p class="text-white">aiusdasdgahs</p>
                            <p class="text-white">kasdbasbd</p>
                            <p class="text-white">kajsdka</p>
                            <p class="text-white">ahsgd</p>
                        </ul>
                    </div>
                    <div class="col-4">
                        <img style="border-radius: 8px ;" src="../Assets/img/facebook.svg" width="38px">
                        <img style="border-radius: 8px ;" src="../Assets/img/instagram.svg" width="38px">
                        <img style="border-radius: 8px ;" src="../Assets/img/twitter.svg" width="38px">
                    </div>
                </div>
                <div class=" col-12">
                    <div class="khasgdjasd d-flex justify-content-between">
                        <ul class="col-6 d-flex flex-wrap">
                            <label class="text-white">akhsdgasgd</label>
                            <p class="text-white">aiusdasdgahs</p>
                            <p class="text-white">kasdbasbd</p>
                            <p class="text-white">kajsdka</p>
                            <p class="text-white">ahsgd</p>
                        </ul>
                        <div class="khasgdjasd d-flex justify-content-between"></div>
                        <div class="col-6 d-flex">
                           <ul class="col-6 d-flex flex-wrap">
                            <li class="text-white">dkhasgdas</li>
                            <li class="text-white">akjsdka</li>
                           </ul>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
</script>


</html>