<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="icon" href="/Global/Assets/img/Spotify-navegador.png">
    <link rel="stylesheet" href="/Global/Assets/CSS/global.css">
    <link rel="stylesheet" href="/Global/Assets/CSS/Homepage/Homepage.css">
    <link rel="stylesheet" href="/Global/Assets/CSS/Homepage/Responsive-Homepage.css">
    <title>Spotify Premium - Spotify</title>
</head>
    
<body>            
    <header>
        <nav class="navbar navbar-expand "> 
            <div class="container col-8 offset-2"> 
                   
                <a class=" navbar-brand" href="#">
                    <img class="logo" src="/Global/Assets/img/Logo-Spotify.png" alt="#">
                </a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mobile-menu">
                    <ul class="navlist navbar-nav font-weight-bold">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Premium<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Suporte<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="baixar nav-link" href="#">Baixar<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="linha nav-link" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inscrever-se<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Entrar<span class="sr-only">(current)</span></a>
                        </li>   
                    </ul> 
                </div>     
            </div>    
        </nav>
    </header>


    
    
    <main>
        <section class="c-azul container-fluid text-white">
            <div class="col-8 offset-2">

                <div>
                    <h1 class="aproveite font-weight-bold">Aproveite 1 mês grátis de Premium</h1>
                    <p class="depois">Depois, pague somente R$ 19,90/mês. Cancele quando quiser.</p>
                </div> 

                <div class="botões">
                    <button type="button" class="começar btn text-white ">COMEÇAR</button>
                    <button type="button" class="planos btn text-white border-white">VER PLANOS</button>
                </div>

                <small class="gratis"><span class="termos">Sujeito a Termos e Condições.</span> O mês grátis não está disponível para usuários que já experimentaram o Premium.</small>
            </div>
        </section>

        <section class="c-branco container-fluid">
            <h1 class="pqpremium d-flex justify-content-center">Por que ser Premium?</h1>
            
            <div class="d-flex justify-content-between col-8 offset-2 pt-5">
            
                <div class="card text-center">
                    <img src="/Global/Assets/img/Modo-offline.png" class="card-img-top" alt="#">
                    <div class="card-body">
                    <h5 class="card-title">Modo offline.</h5>
                    <p class="card-text">Ouça música onde estiver.</p>
                    </div>
                </div>

                <div class="card text-center">
                    <img src="/Global/Assets/img/Ouça-sem-anúncios.png" class="card-img-top" alt="#">
                    <div class="card-body">
                    <h5 class="card-title">Ouça músicas sem anúncios.</h5>
                    <p class="card-text">Curta música, sem parar.</p>
                    </div>
                </div>

                <div class="card text-center">
                    <img src="/Global/Assets/img/Ouça-o-que-quiser.png" class="card-img-top" alt="#">
                    <div class="card-body">
                    <h5 class="card-title">Ouça o que quiser.</h5>
                    <p class="card-text">Mesmo no celular ou tablet.</p>
                    </div>
                </div>

                <div class="card text-center">
                    <img src="/Global/Assets/img/Troque-de-musica.png" class="card-img-top" alt="#">
                    <div class="card-body">
                    <h5 class="card-title">Troque de música o quanto quiser.</h5>
                    <p class="card-text">Pule quando quiser.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="c-cinza container-fluid">

            <div class=" col-8 offset-2">                
                <div class="pqpremium d-flex flex-column pt-5 text-center">

                    <h1>Escolha seu plano Premium</h1>
                    <p>Ouça sem limites no seu celular, alto-falante e em outros dispositivos.</p>
                    
                </div>

                <div class= "container-fluid todoscrd d-flex justify-content-between pt-5">                    
                    <div class="card text-center">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    
                    <div class="card text-center">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card text-center">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card text-center">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="c-preto container-fluid">

            <a class=" navbar-brand" href="#">
                <img class="logo" src="/Global/Assets/img/Logo-Spotify.png" alt="#">
            </a>

        </div> 
    </footer>
           
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

</html>